html, body{
  margin:0;
  font-family: "Hepta Slab", sans-serif;
}

.mobile{
  display: none;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #010D00;
  min-width:375px;
}

.grid{
  margin-left: 20rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding:40px;
  margin-left: 2rem;
}

.menu{
  position: fixed;
  z-index: 999;
}
.author{
  color: #FFF;
text-align: center;
font-family: "Hepta Slab";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.author span{
  color: #FFF;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.intro{
  color: #FFF;
font-family: "Hepta Slab";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 13.25rem;
}

.extra-container{
  border-top: 2px solid #FFF;
border-bottom: 2px solid #FFF;
background: #D94033;
display: inline-flex;
padding: 0.5625rem 0.875rem;
flex-direction: column;
align-items: flex-start;
gap: 1.6875rem;
z-index: 999;
position:absolute;
top:8.12rem;
left:1.12rem;
opacity:1;
}

/* 额外内容初始状态隐藏 */
.extra-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}


.title{
  color: #F0F0F0;
text-align: center;
font-family: "sepian", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 32px;
line-height: normal;
position: absolute;
left: 54px;
top: 6px;
width: 110px;
z-index: 999;
cursor: pointer;
}

.switch{
  color: #F0F0F0;
font-family: "Hepta Slab";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: 101px;
top: 88px;
transform: rotate(180deg);
z-index: 999;
cursor: pointer;
}

.tag{
  position: absolute;
  top:-40px;
  left: 10px;
width: 200px;
height: 200px;

}

.background-color-1 {
  background-color: #010D00; /* 第一种背景颜色 */
}

.background-color-2 {
  background-color: #FFECD5; /* 第二种背景颜色 */
}




.background-color-change {
  background-color: #FFECD5; /* 切换的背景颜色 */
}


a.name {
  text-decoration: none; /* 去掉默认的下划线 */
}

.left{
  stroke-width: 1px;
  stroke: #D94033;
  width: 35px;
position: absolute;
top:55%;
left:620px;
}

.back-container{
  padding-bottom: 4rem;
  display: inline-flex;
justify-content: center;
align-items: center;
position: fixed;
}

.right{
  stroke-width: 1px;
  stroke: #D94033;
  width: 35px;
position: absolute;
top:55%;
left:870px;
}



.hex {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 2%;
  left: 722px;
  animation: rotateAnimation 3s infinite linear;
  transform-origin: center; 
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  padding-top: 4rem;
  display: flex;
}

.pro-card-wrapper1{
  perspective: 3600px;
}

.pro-card-wrapper2{
  perspective: 3000px;
}

.pro-card-wrapper3{
  perspective: 2400px;
}

.pro-card-wrapper4{
  perspective: 1800px;
}

.pro-card-wrapper5{
  perspective: 1200px;
}


.pro-card1{
  display: flex;
  width: 21rem;
  height: 37.6875rem;
  padding: 1.875rem 0.625rem 2.3125rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  margin:4px;
  font-size: 12px;
  position: relative;
  text-align: center;
  transition:transform 0.8s;
  transform-style:preserve-3d;
  
}

.pro-card2{
  display: flex;
width: 21rem;
height: 37.6875rem;
padding: 1.875rem 0.625rem 2.3125rem 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
  margin:4px;
  font-size: 12px;
  position: relative;
  text-align: center;
  transition:transform 0.8s;
  transform-style:preserve-3d;
}

.pro-card3{
  display: flex;
width: 21rem;
height: 37.6875rem;
padding: 1.875rem 0.625rem 2.3125rem 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
  margin:4px;
  font-size: 12px;
  position: relative;
  text-align: center;
  transition:transform 0.8s;
  transform-style:preserve-3d;
}

.pro-card4{
  display: flex;
width: 21rem;
height: 37.6875rem;
padding: 1.875rem 0.625rem 2.3125rem 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
  margin:4px;
  font-size: 12px;
  position: relative;
  text-align: center;
  transition:transform 0.8s;
  transform-style:preserve-3d;
}

.pro-card5{
  display: flex;
width: 21rem;
height: 37.6875rem;
padding: 1.875rem 0.625rem 2.3125rem 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
  margin:4px;
  font-size: 12px;
  position: relative;
  text-align: center;
  transition:transform 0.8s;
  transform-style:preserve-3d;
}


.character{
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
line-height: 2cm;
top:1rem;
}

.romaji{
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.15rem;
}

.deco{
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-content: end;
  font-size: 2rem;
  bottom: 0;
  position: absolute;
  bottom:4rem;
}

.front,
.back{
  position:absolute;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  border:1.25px solid #D94033;
  border-radius: 0.25rem;
  color:#D94033;
  box-shadow: 0px 0px 17.6px 0px rgba(186, 0, 0, 0.75);
}

.back{
  transform: rotateY(180deg);
}

.pro-card-wrapper1:hover .pro-card1{
  transform: rotateY(180deg);
}

.pro-card-wrapper2:hover .pro-card2{
  transform: rotateY(180deg);
}

.pro-card-wrapper3:hover .pro-card3{
  transform: rotateY(180deg);
}

.pro-card-wrapper4:hover .pro-card4{
  transform: rotateY(180deg);
}

.pro-card-wrapper5:hover .pro-card5{
  transform: rotateY(180deg);
}






@media screen and (max-width: 375px){
  .laptop{
    display: none;
  }

  body{
    overflow: auto;
  }
  .mobile{
    display: block;
  }

  .back-container-m{
    padding-bottom: 20rem;
    display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 500px;
  }

  .left-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:480%;
  left:100px;
  margin-bottom: 100px;
  }
  

  
  .right-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:480%;
  right:100px;
  margin-bottom: 100px;
  }



  .pro-card{
    width:300px;
    height: 500px;
    font-size: 8px;
  }
  
  .title-m{
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F0F0F0;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  position: absolute;
left: 22px;
top: 2px;
width: 55px;
z-index: 999;
  }
  
  .switch-m{
    color: #F0F0F0;
  font-family: "Hepta Slab";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 45px;
  top: 38px;
  transform: rotate(180deg);
  z-index: 999;
  }
  
  .tag-m{
    position: absolute;
    top:-20px;
    width: 100px;
  height: 100px;
  flex-shrink: 0;
  fill: #D94033;
  }
  
  .hex-m{
position: absolute;
top:30%;
left:150px;
animation: rotateAnimation 3s infinite linear;
  }

  .quote-container-m{
    display: flex;
flex-direction: column;
align-items: center;
gap: 2px;
position: absolute;
top:298px;
left: 31px;
height: 136px;
  }

  .decoline1-m{
    width: 232px;
position: absolute;
margin-top: 0;
left: 40.5px;
z-index: 888;
stroke-width: 1px;
stroke: #D94033;
  }

  .decoline2-m{
    width: 232px;
position: absolute;
top:118px;
left: 40.5px;
stroke-width: 1px;
stroke: #D94033;
left: 40.5px;
z-index: 888;
  }

  .quote{
    text-indent:20px;
   justify-content: center;
   align-items: center;
    position: absolute;
    left:72px;
    top:30px;
    color: #D94033;
font-family: Sepian;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
width: 230px;
z-index: 9999;
  }

  .line-op-m{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:804px;
left:63.5px;
width: 248px;
height: 0px;
  }


.grid-container-m{
  grid-template-columns: repeat(8, 1Fr);
  position: relative;
}

.para1-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:904px;
}

.para2-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.line-mid-m{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:1406px;
left:63.5px;
width: 248px;
height: 0px;
}

.para3-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.para4-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.para5-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.para-span-m{
  color: #D94033;
    font-family: "sepian", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.02cm;
}

.line-ed-m{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:3050px;
left:63.5px;
width: 248px;
height: 0px;
}




body{

  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

.gradient-m{
  background: linear-gradient(180deg, #000 0%, #440C0C 53.5%, #000 100%);
filter: blur(2px);
width: 375px;
height: 218px;
flex-shrink: 0;
position: fixed;
top:530px;
}

.title,
.switch,
.tag{
  display: none;
}
    
}


