body {
  background-color: #010D00;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: url('imgs/cursor.png'),auto;
  font-family: "Hepta Slab", sans-serif;
}

.mobile{
  display: none;
}
.container, .flex-container {
  padding-top: 250px; 
  margin-left: 3rem;
}

#slider-value{
  width: 100%;
}

.menu{
position: fixed;
z-index: 999;
}

.left{
  stroke-width: 1px;
  stroke: #D94033;
  width: 35px;
position: absolute;
top:505%;
left:620px;
}

.back-container{
  padding-bottom: 20rem;
  display: inline-flex;
justify-content: center;
align-items: center;
gap: 32px;
}

.right{
  stroke-width: 1px;
  stroke: #D94033;
  width: 35px;
position: absolute;
top:505%;
left:870px;
}



.hex {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 500%;
  left: 722px;
  animation: rotateAnimation 3s infinite linear;
  transform-origin: center; 
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.author{
  color: #FFF;
text-align: center;
font-family: "Hepta Slab";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.author span{
  color: #FFF;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.intro{
  color: #FFF;
font-family: "Hepta Slab";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 13.25rem;
}

.extra-container{
  border-top: 2px solid #FFF;
border-bottom: 2px solid #FFF;
background: #D94033;
display: inline-flex;
padding: 0.5625rem 0.875rem;
flex-direction: column;
align-items: flex-start;
gap: 1.6875rem;
z-index: 999;
position:absolute;
top:8.12rem;
left:1.12rem;
opacity:1;
}

/* 额外内容初始状态隐藏 */
.extra-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}


.title{
  color: #F0F0F0;
text-align: center;
font-family: "sepian", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 32px;
line-height: normal;
position: absolute;
left: 54px;
top: 6px;
width: 110px;
z-index: 999;
cursor: pointer;
}

.switch{
  color: #F0F0F0;
font-family: "Hepta Slab";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: 101px;
top: 88px;
transform: rotate(180deg);
z-index: 999;
cursor: pointer;
}

.tag{
  position: absolute;
  top:-40px;
  left: 10px;
width: 200px;
height: 200px;
z-index: 998;

}

a.name {
  text-decoration: none; /* 去掉默认的下划线 */
}



.background-color-1 {
  background-color: #010D00; /* 第一种背景颜色 */
}

.background-color-2 {
  background-color: #FFECD5; /* 第二种背景颜色 */
}




.background-color-change {
  background-color: #FFECD5; /* 切换的背景颜色 */
}



.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.button {
  position: fixed !important;
  transform: none !important;
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}








body {
  transition: filter 0.5s;
}


.invert {
  filter: invert(100%);
  background-color: #F0F0F0
}



.wrapper img {
  position: absolute;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text, .text2{
  color: #D94033;
  leading-trim: both;
  text-edge: cap;
font-family: "Hepta Slab";
font-size: 10.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.5625rem;
margin-bottom: 8rem;
}

.text {
  display: inline-block; /* 将容器设置为内联块元素，使其不换行 */
}

#number {
  display: inline-block; /* 将数字部分设置为内联块元素 */
  width: 1.8em; /* 固定宽度，以确保它不会变化 */
}

#years {
  display: inline-block; /* 将 "years ago" 部分设置为内联块元素 */
}

.slider-container {
  width: 90vw;
  position: relative;
  z-index: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #F2B66D;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
  z-index:1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #D94033;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #D94033;
  cursor: pointer;
}

#slider-value {
  position: absolute;
  top: -30px;
  left: 0;
}




.text2 {
  font-size: 36pt;
}

.paragraph1 {
  color: #D94033;
font-family: "Hepta Slab";
font-size: 1.875rem;
font-style: light;
font-weight: 400;
line-height: light;
columns: 3;
  column-gap: 0.25in;
  break-inside: avoid;
  margin-top: 120px;

}

.paragraph2 {
  color: #D94033;
  font-family: "Hepta Slab";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  columns: 1;
    column-gap: 0.25in;
    break-inside: avoid;
    margin-top: 120px;
  
}

 .paragraph3 {
  position:absolute;
  top:200rem;
  max-width: 24.375rem;
  columns:1;
  background: linear-gradient(180deg, #D94033 37%, #4E4E4E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0;
} 

.paragraph3:hover,
.paragraph4:hover,
.paragraph5:hover{
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


.paragraph4 {
  position:absolute;
  top:200rem;
  left:31.4rem;
  max-width: 24.375rem;
  columns:1;
  background: linear-gradient(180deg, #E97A71 0%, #FF1400 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0;
} 

.paragraph5 {
  position:absolute;
  top:200rem;
  left:60rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0;
} 

.file1{
  position:absolute;
  top:190rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.file2{
  position:absolute;
  top:190rem;
  left:31.4rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.file3{
  position:absolute;
  top:190rem;
  left:60rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.quote1-1{
  position:absolute;
  top:190rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.quote1-2{
  position:absolute;
  top:210rem;
  left:23rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.quote2-1{
  position:absolute;
  top:190rem;
  left:31.4rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.quote2-2{
  position:absolute;
  top:210rem;
  left:53rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.quote3-1{
  position:absolute;
  top:190rem;
  left:60rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.quote3-2{
  position:absolute;
  top:210rem;
  left:81rem;
  max-width: 24.375rem;
  columns:1;
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.paragraphen1 {
  font-size: 18pt;
  columns: 3; 
  column-gap: 0.25in;
  break-inside: avoid; 
  margin-top: 120px;
}

.paragraphen2 {
  font-size: 18pt;
  columns: 3;
  column-gap: 0.25in;
  break-inside: avoid;
  margin-top: 120px;  
}

 .paragraphen3 {
  font-size: 18pt;
  columns: 3;
  column-gap: 0.25in;
  break-inside: avoid;
  margin-top: 120px;  
} 

.paragraphen4 {
  font-size: 18pt;
  columns: 3;
  column-gap: 0.25in;
  break-inside: avoid;
  margin-top: 120px;  
} 

.paragraphen5 {
  font-size: 18pt;
  columns: 3;
  column-gap: 0.25in;
  break-inside: avoid;
  margin-top: 120px;  
  margin-bottom: 120px;
} 











@media screen and (max-width: 375px){
  .laptop{
    display: none;
  }

  .mobile{
    display: block;
  }
  
  .title-m{
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F0F0F0;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  position: absolute;
left: 22px;
top: 2px;
width: 55px;
z-index: 999;
  }
  
  .switch-m{
    color: #F0F0F0;
  font-family: "Hepta Slab";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 45px;
  top: 38px;
  transform: rotate(180deg);
  z-index: 999;
  }
  
  .tag-m{
    position: absolute;
    top:-20px;
    width: 100px;
  height: 100px;
  flex-shrink: 0;
  fill: #D94033;
  }
  
  .hex-m{
position: absolute;
top:30%;
left:150px;
animation: rotateAnimation 3s infinite linear;
  }

  .back-container-m{
    padding-bottom: 20rem;
    display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 500px;
  }

  .left-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:400%;
  left:100px;
  margin-bottom: 100px;
  }
  

  
  .right-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:400%;
  right:100px;
  margin-bottom: 100px;
  }

  .quote-container-m{
    display: flex;
flex-direction: column;
align-items: center;
gap: 2px;
position: absolute;
top:298px;
left: 31px;
height: 136px;
  }

  .decoline1-m{
    width: 232px;
position: absolute;
margin-top: 0;
left: 40.5px;
z-index: 888;
stroke-width: 1px;
stroke: #D94033;
  }

  .decoline2-m{
    width: 232px;
position: absolute;
top:118px;
left: 40.5px;
stroke-width: 1px;
stroke: #D94033;
left: 40.5px;
z-index: 888;
  }

  .quote{
   justify-content: center;
   align-items: center;
    position: absolute;
    left:100px;
    top:40px;
    color: #D94033;
font-family: Sepian;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.16px;
width: 129px;
z-index: 9999;
  }

  .line-op-m{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:804px;
left:63.5px;
width: 248px;
height: 0px;
  }


.grid-container-m{
  grid-template-columns: repeat(8, 1Fr);
  position: relative;
}

.para1-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:904px;
}

.para2-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.line-mid-m{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:1406px;
left:63.5px;
width: 248px;
height: 0px;
}

.para3-m{
  grid-column: span 6;
  background: linear-gradient(180deg, #D94033 37%, #4E4E4E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:200px;
}

.para4-m{
  grid-column: span 6;
  background: linear-gradient(180deg, #E97A71 0%, #FF1400 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.para5-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}


.line-ed-m{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:2450px;
left:63.5px;
width: 248px;
height: 0px;
}




body{

  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

.gradient-m{
  background: linear-gradient(180deg, #000 0%, #440C0C 53.5%, #000 100%);
filter: blur(2px);
width: 375px;
height: 218px;
flex-shrink: 0;
position: fixed;
top:530px;
}

.title,
.switch,
.tag{
  display: none;
}
    
}









