body{
  background-color: #010D00;;
    margin:0;
    margin-bottom: 10rem;
    font-family: "Hepta Slab", sans-serif;
  overflow: hidden;
  
  }

  .mobile{
    display: none;
  }

  .author{
    color: #FFF;
  text-align: center;
  font-family: "Hepta Slab";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .author span{
    color: #FFF;
    font-family: "sepian", sans-serif;
    font-weight: 400;
    font-style: normal;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .intro{
    color: #FFF;
  font-family: "Hepta Slab";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 13.25rem;
  }
  
  .extra-container{
    border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  background: #D94033;
  display: inline-flex;
  padding: 0.5625rem 0.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6875rem;
  z-index: 999;
  position:absolute;
  top:8.12rem;
  left:1.12rem;
  opacity:1;
  }
  
  /* 额外内容初始状态隐藏 */
  .extra-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
  
  .title{
    color: #F0F0F0;
  text-align: center;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: normal;
  position: absolute;
  left: 54px;
  top: 6px;
  width: 110px;
  z-index: 999;
  cursor: pointer;
  }
  
  .switch{
    color: #F0F0F0;
  font-family: "Hepta Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 101px;
  top: 88px;
  transform: rotate(180deg);
  z-index: 999;
  cursor: pointer;
  }
  
  .tag{
    position: absolute;
    top:-40px;
    left: 10px;
  width: 200px;
  height: 200px;
  
  }
  
  .name{
    color: #FFF;
    font-family: "sepian", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02069rem;
    width: 12.25544rem;
    cursor:pointer;
  }
  
 
  
  .background-color-1 {
    background-color: #010D00; /* 第一种背景颜色 */
  }
  
  .background-color-2 {
    background-color: #FFECD5; /* 第二种背景颜色 */
  }
  
  
  
  
  .background-color-change {
    background-color: #FFECD5; /* 切换的背景颜色 */
  }
  
  
  
  a.name {
    text-decoration: none; /* 去掉默认的下划线 */
  }
  

  .flex-container{
    display: flex;
    align-items: flex-start;
    gap: 0.125rem;
    right:0rem;
  }
  
  .col1{
    color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 14.8125rem;
  }
  
  .col1-container{
    position: absolute;
    top:8.94rem;
    left:0%;
    display: flex;
padding: 0.625rem;
flex-direction: column;
align-items: center;
gap: 0.625rem;
height: 75%;
  width: 20%;
  overflow: scroll;
  }
  
  .col1-container::-webkit-scrollbar{
    display: none;
  }
  
  .col2{
    color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 14.8125rem;
  }
  
  .col2-container{
    position: absolute;
    top:8.94rem;
    left:20%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 75%;
  width: 20%;
  overflow: scroll;
  }
  
  
  .col2-container::-webkit-scrollbar{
    display: none;
  }

  .col3{
    color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 14.8125rem;
  }
  
  .col3-container{
    position: absolute;
    top:8.94rem;
    left:40%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  height: 75%;
  width: 20%;
  overflow: scroll;
  }
  
  
  .col3-container::-webkit-scrollbar{
    display: none;
  }

  .col4{
    color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 14.8125rem;
  }
  
  .col4-container{
    position: absolute;
    top:8.94rem;
    left:60%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 75%;
  width: 20%;
  overflow: scroll;
  }
  
  
  .col4-container::-webkit-scrollbar{
    display: none;
  }

  .col5{
    color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 14.8125rem;
  }
  
  .col5-container{
    position: absolute;
    top:8.94rem;
    left:80%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    height: 75%;
  width: 20%;
  overflow: scroll;
  }
  
  
  .col5-container::-webkit-scrollbar{
    display: none;
  }

  .flex-container span{
    color: #D94033;
    font-family: "sepian", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.02cm;
  }


.scroll div{
  color: #D94033;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: animate  60s linear infinite;
  animation-delay: -60s;
 
}

.scroll div:nth-child(2)
{
  animation:animate-two 60s linear infinite;
  animation-delay: -30s;
}

@keyframes animate {
  0% {
    transform: translateX(100%); /* 初始位置为 0 */
  }
  100% {
    transform: translateX(-100%);
  }
}


@keyframes animate-two  {
  0% {
    transform: translateX(0); /* 初始位置为 0 */
  }
  100% {
    transform: translateX(-100%);
  }
}

.left{
  stroke-width: 1px;
  stroke: #D94033;
  width: 35px;
position: absolute;
top:7%;
left:620px;
}

.back-container{
  padding-bottom: 20rem;
  display: inline-flex;
justify-content: center;
align-items: center;
gap: 32px;
}

.right{
  stroke-width: 1px;
  stroke: #D94033;
  width: 35px;
position: absolute;
top:7%;
left:870px;
}



.hex {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 2%;
  left: 722px;
  animation: rotateAnimation 3s infinite linear;
  transform-origin: center; 
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@media screen and (max-width: 375px){
  .laptop{
    display: none;
  }

  body{
    overflow: auto;
  }
  .mobile{
    display: block;
  }
  
  .back-container-m{
    padding-bottom: 20rem;
    display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 500px;
  }

  .left-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:400%;
  left:100px;
  margin-bottom: 100px;
  }
  

  
  .right-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:400%;
  right:100px;
  margin-bottom: 100px;
  }


  .title-m{
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F0F0F0;
  text-align: center;
  font-size: 16px;
  line-height: normal;
  position: absolute;
left: 22px;
top: 2px;
width: 55px;
z-index: 999;
  }
  
  .switch-m{
    color: #F0F0F0;
  font-family: "Hepta Slab";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 45px;
  top: 38px;
  transform: rotate(180deg);
  z-index: 999;
  }
  
  .tag-m{
    position: absolute;
    top:-20px;
    width: 100px;
  height: 100px;
  flex-shrink: 0;
  fill: #D94033;
  }
  
  .hex-m{
position: absolute;
top:30%;
left:150px;
animation: rotateAnimation 3s infinite linear;
  }

  .quote-container-m{
    display: flex;
flex-direction: column;
align-items: center;
gap: 2px;
position: absolute;
top:298px;
left: 31px;
height: 136px;
  }

  .back-container-m{
    padding-bottom: 20rem;
    display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  height: 500px;
  }

  .left-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:780%;
  left:100px;
  margin-bottom: 100px;
  }
  

  
  .right-m{
    stroke-width: 1px;
    stroke: #D94033;
    width: 35px;
  position: absolute;
  top:780%;
  right:100px;
  margin-bottom: 100px;
  }


  .decoline1-m{
    width: 232px;
position: absolute;
margin-top: 0;
left: 40.5px;
z-index: 888;
stroke-width: 1px;
stroke: #D94033;
  }

  .decoline2-m{
    width: 232px;
position: absolute;
top:118px;
left: 40.5px;
stroke-width: 1px;
stroke: #D94033;
left: 40.5px;
z-index: 888;
  }

  .quote{
    text-indent:20px;
   justify-content: center;
   align-items: center;
    position: absolute;
    left:40px;
    top:30px;
    color: #D94033;
font-family: Sepian;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.16px;
width: 237px;
z-index: 9999;
  }

  .line-op-m{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:804px;
left:63.5px;
width: 248px;
height: 0px;
  }


.grid-container-m{
  grid-template-columns: repeat(8, 1Fr);
  position: relative;
}

.para1-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:904px;
}

.para2-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.line-mid-m{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:1406px;
left:63.5px;
width: 248px;
height: 0px;
}

.para3-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:200px;
}

.para4-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.para5-m{
  grid-column: span 6;
  color: #D94033;
font-family: "Prestige Elite Std";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
width: 224px;
margin:0 auto;
margin-top:100px;
}

.para-span-m{
  color: #D94033;
    font-family: "sepian", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.02cm;
}

.line-ed-m{
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 2px;
position: absolute;
top:5050px;
left:63.5px;
width: 248px;
height: 0px;
}




body{

  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

.gradient-m{
  background: linear-gradient(180deg, #000 0%, #440C0C 53.5%, #000 100%);
filter: blur(2px);
width: 375px;
height: 218px;
flex-shrink: 0;
position: fixed;
top:530px;
}

.title,
.switch,
.tag{
  display: none;
}
    
}


