

@media screen and (min-width: 376px){

  .text1-m,
  .text2-m,
  .text3-m,
  .text4-m,
  .text5-m,
  .text6-m{
display: none;
  }

  .menu-m{
    display: none;
  }
    


body{
background-color: #010D00;;
  margin:0;
  margin-bottom: 10rem;
font-family: "Hepta Slab", sans-serif;
overflow: hidden;

}

* {
  box-sizing: border-box;
}

#canvas{
  z-index: 1;
}

.container{
  display: flex;
  width: 52.08175rem;
  height: 44.64963rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: -3rem;
  animation: scaleAnimation 3s forwards; 
}


@keyframes scaleAnimation {
  0% {
      transform: scale(0) rotate(0deg); /* 开始时缩小到一半大小，不旋转 */
  }

  100% {
      transform: scale(1) rotate(360deg); /* 结束时恢复到默认大小，旋转360度 */
  }
}

.author{
  color: #FFF;
text-align: center;
font-family: "Hepta Slab";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.author span{
  color: #FFF;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.intro{
  color: #FFF;
font-family: "Hepta Slab";
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 13.25rem;
}

.extra-container{
  border-top: 2px solid #FFF;
border-bottom: 2px solid #FFF;
background: #D94033;
display: inline-flex;
padding: 0.5625rem 0.875rem;
flex-direction: column;
align-items: flex-start;
gap: 1.6875rem;
z-index: 999;
position:absolute;
top:8.12rem;
left:1.12rem;
opacity:1;
}

/* 额外内容初始状态隐藏 */
.extra-container {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}


a.name {
  text-decoration: none; /* 去掉默认的下划线 */
}


.text1{
  position: absolute;
  left:33.81rem;
  top: 6.19rem;
  color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text2{
  position: absolute;
  left:60.98rem;
  top: 9.17rem;
  color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
transform: rotate(60deg);
flex-shrink: 0;
}

.text3{
  position: absolute;
  left:67.77rem;
  top: 30.76rem;
  color: #D94033;
  font-family: "Hepta Slab";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(120deg);
  flex-shrink: 0;
}

.text4{
  position: absolute;
  left:51.97rem;
  top: 47rem;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text5{
  position: absolute;
  left:27.65rem;
  top: 43.31rem;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
transform: rotate(-120deg);
}

.text6{
  position: absolute;
  left:20.01rem;
  top: 21.23rem;
  color: #D94033;
font-family: "Hepta Slab";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
transform: rotate(-60deg);
}
/* 
.menu{
  display: flex;
  width: 19.5625rem;
  padding: 0.66444rem 1.32888rem;
  align-items: center;
  gap: 40.384rem;
  position:fixed;
  z-index: 999;
  border-radius: 0.25rem 624.9375rem 624.9375rem 0.1875rem;
border-bottom: 2px solid #FFF;
background: #BFA584;
box-shadow: 0px -2px 20px 0px rgba(255, 255, 255, 0.50) inset;
}

.menu-left{
  display: flex;
align-items: flex-start;
gap: 2.51013rem;
}
.name{
  color: #FFF;
  font-family: "sepian", sans-serif;
font-weight: 400;
font-style: normal;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02069rem;
  width: 12.25544rem;
  cursor:pointer;
}

.switch{
  color: #FFF;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size:24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.02069rem;
cursor: pointer;

} */

.background-color-1 {
  background-color: #010D00; /* 第一种背景颜色 */
}

.background-color-2 {
  background-color: #FFECD5; /* 第二种背景颜色 */
}




.background-color-change {
  background-color: #FFECD5; /* 切换的背景颜色 */
}

/* .menu {
  opacity: 1; 
  transition: opacity 2s;
}

.menu:not(:hover) {
  opacity: 0;
}

.menu:hover {
  opacity: 1; 
} */



.title{
  color: #F0F0F0;
text-align: center;
font-family: "sepian", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 32px;
line-height: normal;
position: absolute;
left: 54px;
top: 6px;
width: 110px;
z-index: 999;
cursor: pointer;
}

.switch{
  color: #F0F0F0;
font-family: "Hepta Slab";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: 101px;
top: 88px;
transform: rotate(180deg);
z-index: 999;
cursor: pointer;
}

.tag{
  position: absolute;
  top:-40px;
  left: 10px;
width: 200px;
height: 200px;

}

}





@media screen and (max-width: 375px){
  .text1-m,
  .text2-m,
  .text3-m,
  .text4-m,
  .text5-m,
  .text6-m{
    color: #D94033;
  font-family: "Prestige Elite Std";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.015rem;
  text-decoration-line: underline;
  transform: rotate(60deg);
  }
  
  .text1-m{
    position: absolute;
    top:74px;
    left:161.97px;
  }
  
  .text2-m{
    position: absolute;
    top:237px;
    left:257.87px;
  }
  
  .text3-m{
    position: absolute;
    top:129px;
    left:30px;
  }
  
  .text4-m{
    position: absolute;
    top:411px;
    left:230.87px;
  }
  
  .text5-m{
    position: absolute;
    top:486px;
    left:99.87px;
  }
  
  .text6-m{
    position: absolute;
    top:335px;
    left:18.87px;
  }
  
  
  

  
  .menu-m{
    display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position:relative;
  }
  
  
  .title-m{
    color: #F0F0F0;
  text-align: center;
  font-family: "sepian", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  left: 14px;
  top: -16px;
  width: 71px;
  z-index: 999;
  }
  
  .switch-m{
    color: #F0F0F0;
  font-family: "Hepta Slab";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 45px;
  top: 22px;
  transform: rotate(180deg);
  z-index: 999;
  }
  
  .tag-m{
    position: absolute;
    top:-43px;
    width: 100px;
  height: 100px;
  flex-shrink: 0;
  fill: #D94033;
  }
  
  
  #canvas{
    display:none;
  }
  


  .text1,
  .text2,
  .text3,
  .text4,
  .text5,
  .text6{
  display: none;
  }

.container-m{
  padding: 0;
  width: 375px;
  height: 711px;
  background-color: #010D00;
  z-index: 0;
  position: absolute;
  top:-10rem;
  z-index: -1;
}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}

.gradient-m{
  background: linear-gradient(180deg, #000 0%, #440C0C 53.5%, #000 100%);
filter: blur(2px);
width: 375px;
height: 218px;
flex-shrink: 0;
position: fixed;
top:530px;
}

.title,
.switch,
.tag{
  display: none;
}
    
}
